body {
  main {
    background-image: url(./assets/headerframe.png);
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 150px;

  .list1 {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    padding-bottom: 10vh;
    font-family: 'Source sans 3';
    padding-right: 5vh;
    padding-top: 5vh;

  

    .iphonepics > img {
      height: 30vh
    }


    
  }
}
}