* {
  margin: 0;
  padding: 0;
}


.name {
  grid-area: name;
}

.about {
  grid-area: about;
}

.project {
  grid-area: project;
}

.resume {
  grid-area: resume;
}

.contact {
  grid-area: contact;
}

#topHeading {
  grid-area: topH;
}

#middleHeading {
  grid-area: middleH;
}

#bottomHeading {
  grid-area: bottomH;
}

.me {
  grid-area: me;
}

body {

  nav {
    background-image: url(./assets/Rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 120px;
    padding: 5vh;
    height: 10vh;

    ul {
      display: grid;
      grid-template-areas:
        "name name name name name name about project resume contact";
      list-style-type: none;

      li {
        font-family: 'Bebas Neue';
        font-size: 3vh;
      }

    }
  }

  header {
    display: grid;
    grid-template-areas:
      "topH topH me me"
      "middleH middleH me me"
      "bottomH bottomH me me"
      "bottomH bottomH me me"
    ;

    .me {
      height: 60vh;
      padding-top: 5vh;
      padding-right: 30vh;

    }

    .headings {
      width: 50%;
      display: flex;
      align-items: center;
      padding: 5vh;
      padding-right: 20vh;
      padding-left: 10vh;
      text-align: center;


    }

    #topHeading {
      font-family: 'Source Sans 3';
      
    }

    #middleHeading {
      font-family: 'Source Sans 3';

    }

    #bottomHeading {
      font-family: 'Bebas Neue';
      font-size: 10vh;
    
      padding-bottom: 20vh;
    }


  }

  main {
    background-image: url(./assets/headerframe.png);
    background-size: cover;
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 150px;

  .list1 {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    padding-bottom: 10vh;
    font-family: 'Source sans 3';


    .iphonepics > img {
      height: 30vh
    }


    
  }
}

  .aboutme {
    text-align: center;
    font-family: 'Bebas Neue';
    padding-top: 20vh;
    font-size: 6vh;

  }

 .p4 {
  background-image: url(./assets/pinkframe.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vh;
  
      text-align: center;
      font-family: 'Source Sans 3';
      padding: 5vh;
      padding-bottom: 30vh;
      padding-left: 20vh;
      padding-right: 20vh;
 
    }

    .resume2 {
      text-align: center;
    font-family: 'Bebas Neue';
    padding-top: 20vh;
    font-size: 6vh;

    }

    .p5 {
      background-image: url(./assets/bottomframe.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100vh;
      
          text-align: center;
          font-family: 'Source Sans 3';
          padding: 5vh;
          padding-bottom: 30vh;
          padding-left: 20vh;
          padding-right: 20vh;
    }


    .final {
      text-align: center;
      padding: 10vh;
      padding-bottom: 30vh;

      .contact2 {
        text-align: center;
    font-family: 'Bebas Neue';
    padding-top: 4vh;
    font-size: 6vh;
      }

      .list2 {
        padding-top: 10vh;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .Email > img {
          height: 15vh
        }

        .Linked > img {
          height: 16.5vh;
        }

        .Git > img {
          height: 20vh;
    
        }
      }
    }










}