* {
  margin: 0;
  padding: 0;
}

.name {
  grid-area: name;
}

.about {
  grid-area: about;
}

.project {
  grid-area: project;
}

.resume {
  grid-area: resume;
}

.contact {
  grid-area: contact;
}

#topHeading {
  grid-area: topH;
}

#middleHeading {
  grid-area: middleH;
}

#bottomHeading {
  grid-area: bottomH;
}

.me {
  grid-area: me;
}

body nav {
  padding: 3vh;
  height: 10vh;
}
body nav ul {
  display: grid;
  grid-template-areas: "name name name name name name about project resume contact";
  list-style-type: none;
}
body nav ul li {
  font-family: "Bebas Neue";
  font-size: 3vh;
}
body header {
  display: grid;
  grid-template-areas: "topH topH me me" "middleH middleH me me" "bottomH bottomH me me" "bottomH bottomH me me";
}
body header .me {
  height: 60vh;
  padding-top: 5vh;
  padding-right: 30vh;
}
body header .headings {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5vh;
  padding-right: 20vh;
  padding-left: 10vh;
  text-align: center;
}
body header #topHeading {
  font-family: "Source Sans 3";
}
body header #middleHeading {
  font-family: "Source Sans 3";
}
body header #bottomHeading {
  font-family: "Bebas Neue";
  font-size: 10vh;
  padding-bottom: 20vh;
}
body .list1 {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  padding-right: 10vh;
  padding-bottom: 10vh;
}
body .list1 .iphonepics > img {
  height: 30vh;
}
body .aboutme {
  text-align: center;
  font-family: "Bebas Neue";
  padding-top: 4vh;
  font-size: 6vh;
}
body .p4 {
  text-align: center;
  font-family: "Source Sans 3";
  padding: 5vh;
  padding-bottom: 30vh;
  padding-left: 10vh;
  padding-right: 10vh;
}
body .resume2 {
  text-align: center;
  font-family: "Bebas Neue";
  padding-top: 4vh;
  font-size: 6vh;
}
body .p5 {
  text-align: center;
  font-family: "Source Sans 3";
  padding: 5vh;
  padding-bottom: 30vh;
  padding-left: 10vh;
  padding-right: 10vh;
}
body .final {
  text-align: center;
  padding: 10vh;
  padding-bottom: 30vh;
}
body .final .contact2 {
  text-align: center;
  font-family: "Bebas Neue";
  padding-top: 4vh;
  font-size: 6vh;
}
body .final .list2 {
  padding-top: 10vh;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
body .final .list2 .Email > img {
  height: 15vh;
}
body .final .list2 .Linked > img {
  height: 16.5vh;
}
body .final .list2 .Git > img {
  height: 20vh;
}